h1{
    background-color: green;
}

p{
    color:orange;
} 


div{
    background-color: rgb(0, 255, 76);
    color: violet; /* recently added color */
}

input{
    padding: 20px;
}

p{
    background-color: blue; /* Changed in vs code pushed from 'git desktop'*/
}

nav{
    color: grey;   /* changed external*/
}

section{
    background: blue;
}


